name: Sync Fork with Upstream

on:
  release:
    types:
      [published]
  workflow_dispatch:
  

jobs:
  sync-fork:
    runs-on: ubuntu-latest
    steps:
      - name: Sync-fork
        env:
          GITHUB_TOKEN: ${{ secrets.CODEFLARE_MACHINE_ACCOUNT_TOKEN }}
        run: |
          gh workflow run delete-branch.yaml -R github.com/mike9014/workflow-tests -r main

          
